<form action="/shortened_url" method="POST" id="url" class="input-group">
  <input type="text" placeholder="Input URL here" name="url" class="form-control my-3">
</form>
<button type="submit" form="url" class="btn btn-outline-primary">Shorten</button>